{
  debug

  log {
    output file /var/log/caddy/access.log {
      roll_size 100MiB
      roll_keep 5
      roll_keep_for 100d
    }
    format json
    level INFO
  }

  crowdsec {
    api_url http://crowdsec:8080
    api_key {env.CROWDSEC_API_TOKEN}
    ticker_interval 15s
    appsec_url http://crowdsec:7422
    enable_hard_fails
  }
}

(authentik) {
  forward_auth http://authentik-server:9000 {
    uri /outpost.goauthentik.io/auth/caddy
    copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
  }

  reverse_proxy /outpost.goauthentik.io/* http://authentik-server:9000 {
    header_up Host {http.reverse_proxy.upstream.hostport}
  }
}

:80, :443 {
  route {
    crowdsec
    appsec

    # (Valgfritt) Helt enkel helsesjekk uten å involvere PHP
    handle /health {
      respond "OK" 200
    }

    # Hvis du vil beskytte alt bak Authentik:
    import authentik

    # Webroot (må matche mounten du la til på caddy)
    root * /srv

    # Send .php til php-fpm (standard port er 9000)
    php_fastcgi php-fpm:9000

    # Server statiske filer (css/js/bilder) + index.php/index.html
    file_server
  }
}
